* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/*MENU*/
header.menu {
  background-color: #FF6B00;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#busca {
  background-color: azure;
  width: 500px;
  height: 70px;
}

.menu-hamburguer {
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}

.menu-link {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu-link li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
}

.menu-link li a:hover {
  opacity: 0.9;
  transform: translateY(-3px) scale(1.05);
  transition: transform 0.2s ease;
}

#iconePerfil{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}


/*

Uso                                     Cor                 Código HEX 
Primária (confiança/profissionalismo)   Azul Escuro         #1F3C88 
Secundária (neutro/moderno)             Cinza Claro         #F2F2F2 
Texto principal                         Cinza Grafite       #333333 
Botões/CTAs (ação/energia)              Laranja Vibrante    #FF6B00 
Destaques ou ícones                     Amarelo Industrial  #FFD100 
Complementar (detalhes/links)           Azul Claro          #4A90E2
*/


/*CAIXA DE PESQUISA*/
.busca-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.busca-input {
  width: 100%;
  padding: 12px 40px 12px 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.busca-input:focus {
  border-color: #4A90E2;
  outline: none;
  box-shadow: 0 2px 8px #FF6B00;
}

.lupa-icone {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}


/*PRODUTOS*/

.produtos{
  background-color: red;
  border: 1px solid black;
  width: 250px;
  height: 250px;
}






/*responsivo*/


@media (max-width: 768px) {
  .menu-hamburguer {
    display: block;
  }

  .menu-link {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    background-color: #1F3C88;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
  }

  .menu-link.active {
    display: flex;
  }
}






