@media (max-width: 1200px) {

    /*OFERTAS*/
    .ofertas {
        flex: 0 0 calc(100% / 6);
        max-width: calc(100% / 6);
    }
}

@media (max-width: 990px) {

    /*MENU*/
    .busca-container {
        margin-right: 50px;
    }

    /*OFERTAS*/
    .ofertas {
        flex: 0 0 calc(100% / 4);
        max-width: calc(100% / 4);
    }

    /*PRODUTOS EM DESTAQUE*/
    .produtos-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    /*ITENS CATEGORIAS*/
    .itensCategoria-exterior {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }


    /*CARRINHO*/
    .item-carrinho {
        width: 580px;
    }

    .conteudo-item {
        justify-content: normal;
        gap: 25px;
    }

    /*PRODUTO*/
    .detalheProduto-container{
        justify-content: center;
    }

    .informacoes-produto{
        text-align:center ;
    }

    .acoes{
        display: flex;
        flex-direction: column;
        width: 500px;
    }
}


@media (max-width: 768px) {

    /*MENU*/
    .logo img {
        width: 200px;
    }

    header.menu {
        padding: 10px;
    }

    .menu-hamburguer {
        display: block;
    }

    .menu-link {
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        background-color: #FF6B00;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;
        z-index: 2;
    }

    .menu-link.active {
        display: flex;
    }

    /*OFERTAS*/
    .ofertas {
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
    }

    /*PRODUTOS EM DESTAQUE*/
    .produtos-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    /*LOGIN*/
    .login-exterior {
        flex-direction: column;
    }

    .painel-direita,
    .painel-esquerda {
        flex: none;
        width: 100%;
        height: 50vh;
    }

    .painel-esquerda {
        margin-top: 60px;
    }

    /*ITENS CATEGORIAS*/
    .itensCategoria-exterior {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    /*ITENS*/

    .galeria-produto {
        margin-left: 70px;
        max-width: 390px;
    }

    .faixa-miniaturas {
        margin-left: -60px;
    }

    .imagem-principal img {
        width: 80%;
    }

    /*LOJA*/

    .avaliacao-loja {
        margin-left: 10%;
    }

    .lista-produtos {
        gap: 10px;
    }

    .perfilLoja-exterior{
        flex-direction: column;
    }

    .opcoes-loja{
        width: 100%;
    }

    /*PERFIL DO USUARIO*/
    .perfil-usuario {
        flex-direction: column;
        align-items: flex-start;
    }

    .perfil-usuario {
        flex-direction: column;
        align-items: flex-start;
    }

    .pedido {
        flex-direction: column;
        align-items: flex-start;
    }

    .foto-produto {
        width: 100%;
        height: auto;
    }

    .editar-enderecos {
        padding: 15px;
    }

    .editar-perfil {
        padding: 15px;
    }

    /*CARRINHO*/
    .carrinho-exterior {
        flex-direction: column-reverse;
    }

    .item-carrinho {
        width: 100%;
        align-items: center;
    }

    .conteudo-item {
        flex-direction: row;
        align-items: flex-start;
    }

    .janela-resumo {
        position: relative;
        top: 0;
    }

    /*FINALIZAR COMPRA*/

    .resumo-container {
        flex-direction: column-reverse;
    }

    .coluna-esquerda {
        width: 100%;
    }

    .coluna-direita {
        width: 100%;
    }
}

@media (max-width: 480px) {

    /*MENU*/
    .logo img {
        width: 170px;
    }

    /*OFERTAS*/
    .ofertas {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /*PRODUTOS EM DESTAQUE*/
    .produtos-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    /*ITENS CATEGORIAS*/
    .itensCategoria-exterior {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    /*ITENS*/
    .galeria-produto {
        max-width: 360px;
    }

    /*PRODUTO*/
    .acoes button{
        width: 380px;
    }

    /*LOJA*/
    .perfil-loja {
        display: grid;
    }

    .logo-loja {
        text-align: center;
    }

    .avaliacao-loja {
        margin-left: 0%;
    }

    /*CARRINHO*/

    .item-carrinho {
        width: 370px;
    }
        .conteudo-item {
            flex-direction: column;
            align-items: flex-start;
        }
}