<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/loja.css">
    <link rel="stylesheet" href="../css/responsivo.css">
    <title>Página da loja | Iconst</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--CABEÇALHO-->
    <header class="menu">
        <div class="logo">
            <a href="../index.php"> <img src="../img/site/logo.png"></a>
        </div>

        <form action="buscar produto do banco" method="GET" class="busca-container">
            <input type="text" class="busca-input" id="caixa-pesquisa" placeholder="Procurar produto ou loja">

            <button type="button" id="microfone" >
                <img src="../img/site/microfone.png" id="iconeft" alt="Microfone">
            </button>

            <button type="submit" class="lupa-icone">
                <img src="../img/site/lupa.png" id="iconeft" alt="Lupa">
            </button>
        </form>

        <button class="menu-hamburguer" id="menu-hamburguer">
            &#9776;
        </button>

        <ul class="menu-link" id="menu-link">
            <li><a href="../index.php">Início</a></li>
            <li><a href="carrinho.html"><img src="../img/site/carrinho.png"></a></li>
            <li><a href="perfilUsuario.php"><img src="<?= $imagemUsuario ?>" id="icone-perfil" alt="Perfil"></a>
            </li>
        </ul>
    </header>

    <main class="loja-exterior">
        <section class="perfil-loja">
            <div class="logo-loja">
                <img src="../img/lojas/l1.jpg" alt="Logo da Loja">
            </div>
            <div class="info-loja">
                <h2>Loja do Vendedor</h2>
                <p>Desde: 12/03/2020</p>
                <p>Produtos: 125</p>
                <p>Localização: Pelotas, RS</p>
            </div>
            <div class="avaliacao-loja">
                <h2>Avaliações</h2>
                <p>Esse vendedor possui 15 avaliações<br>
                <p>Sua média é ⭐⭐⭐⭐⭐</p>
                <p><a onclick="abrirJanela()">Ver todas avaliações</a></p>
            </div>
        </section>

        <div id="janela-avaliacoes" class="janela-avaliacoes">
            <div class="janela-conteudo-avaliacoes">
                <span onclick="fecharJanela()">&#10005;</span>
                <h2>Avaliação dos clientes</h2>

                <div class="comentario-avaliacao">
                    <p><strong>João:</strong> Ótima qualidade, recomendo.</p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>

                <div class="comentario-avaliacao">
                    <p><strong>Maria:</strong> Produto bom, mas demorou um pouco pra chegar.</p>
                    <p>⭐⭐⭐⭐</p>
                </div>

                <div class="comentario-avaliacao">
                    <p><strong>Pedro:</strong> Excelente custo-benefício, vou comprar de novo.</p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
                <div class="comentario-avaliacao">
                    <p><strong>João:</strong> Ótima qualidade, recomendo.</p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>

                <div class="comentario-avaliacao">
                    <p><strong>Maria:</strong> Produto bom, mas demorou um pouco pra chegar.</p>
                    <p>⭐⭐⭐⭐</p>
                </div>

                <div class="comentario-avaliacao">
                    <p><strong>Pedro:</strong> Excelente custo-benefício, vou comprar de novo.</p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
                <div class="comentario-avaliacao">
                    <p><strong>João:</strong> Ótima qualidade, recomendo.</p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>

                <div class="comentario-avaliacao">
                    <p><strong>Maria:</strong> Produto bom, mas demorou um pouco pra chegar.</p>
                    <p>⭐⭐⭐⭐</p>
                </div>

                <div class="comentario-avaliacao">
                    <p><strong>Pedro:</strong> Excelente custo-benefício, vou comprar de novo.</p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
                <div class="comentario-avaliacao">
                    <p><strong>João:</strong> Ótima qualidade, recomendo.</p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>

                <div class="comentario-avaliacao">
                    <p><strong>Maria:</strong> Produto bom, mas demorou um pouco pra chegar.</p>
                    <p>⭐⭐⭐⭐</p>
                </div>

                <div class="comentario-avaliacao">
                    <p><strong>Pedro:</strong> Excelente custo-benefício, vou comprar de novo.</p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
                <div class="comentario-avaliacao">
                    <p><strong>João:</strong> Ótima qualidade, recomendo.</p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>

                <div class="comentario-avaliacao">
                    <p><strong>Maria:</strong> Produto bom, mas demorou um pouco pra chegar.</p>
                    <p>⭐⭐⭐⭐</p>
                </div>

                <div class="comentario-avaliacao">
                    <p><strong>Pedro:</strong> Excelente custo-benefício, vou comprar de novo.</p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
            </div>
        </div>

        <section class="produtos-loja">
            <h3>Produtos da Loja</h3>
            <div class="abas-categorias">
                <button class="aba ativa" onclick="mostrarCategoria('todos')">Todos</button>
                <button class="aba" onclick="mostrarCategoria('tijolos')">Tijolos</button>
                <button class="aba" onclick="mostrarCategoria('cimentos')">Cimentos</button>
                <button class="aba" onclick="mostrarCategoria('maquinas')">Máquinas</button>
            </div>

            <div class="lista-produtos" id="todos">
                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>

                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>

                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>
                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>

                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>

                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>
                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>

                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>

                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>
                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>

                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>

                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>
                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>

                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Produto">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>
            </div>

            <div class="lista-produtos oculto" id="cimentos">
                <div class="produto">
                    <img src="../img/produtos/p2.png" alt="Cimento">
                    <p class="nome">Cimento CP-II 50kg</p>
                    <p class="preco">R$ 36,90</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>
            </div>

            <div class="lista-produtos oculto" id="tijolos">
                <div class="produto">
                    <img src="../img/produtos/p3.png" alt="Cimento">
                    <p class="nome">Cimento CP-II 50kg</p>
                    <p class="preco">R$ 36,90</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>
            </div>

            <div class="lista-produtos oculto" id="maquinas">
                <div class="produto">
                    <img src="../img/produtos/p1.jpg" alt="Máquina">
                    <p class="nome">Betoneira 400L</p>
                    <p class="preco">R$ 3.499,00</p>
                    <a href="item.html"> <button>Ver Detalhes</button></a>
                </div>
            </div>
        </section>
    </main>
    <script src="../js/global.js"></script>
    <script src="../js/loja.js"></script>
</body>

</html>