<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    <link rel="stylesheet" href="../css/global.css">
</head>

<body>
    <div class="paginaNEncontrada-exterior"></div>
    <div class="paginaNEncontrada">
        <h1>404 - Página não encontrada 🚧</h1>
        <p>🛠️</p>
        <p>Ops! Parece que alguém saiu para buscar mais materiais e esta página ainda não foi construída.</p>
        <p>Mas não se preocupe, temos muitos produtos e lojas para explorar!</p>
        <div class="links">
            <a href="../index.php">← Voltar para a página principal</a>
        </div>
    </div>
</body>

</html>